<?php

return array(

    'civuser' => array(
        
        // Example of persistance config.
        'persistance' => array(
            'type' => 'dbtable',
            'table' => 'civ_user'
        ),
        
        // Example of tbtable auth adapter
        'adapter' => array(
            'type'             => 'dbtable',
            'table'            => 'civ_user',
            'identifier_field' => 'username',
            'credential_field' => 'password'
        ),
        
        // Example of LDAP auth adapter
        'adapter' => array(
            'type'                   => 'ldap',
            'host'                   => 'server.your.net',
            'port'                   => '389',
            'useStartTls'            => false,
            'accountDomainName'      => 'your.net',
            'accountDomainNameShort' => 'YN',
            'accountCanonicalForm'   => 3,
            'baseDn'                 => "DC=your,DC=net"
        ),
    ),
    
);